<article class="scroller">
  <section style="background-color: blue;">
    <h2>Section two</h2>
  </section>
  <section style="background-color: red;">
    <h2>Section three</h2>
  </section>
  <section style="height: 200px; background-color: black;">
    <h2>Section three</h2>
  </section>
</article>

<style>


  .scroller.section {

    height: 100vh;

  }
</style>

<script></script>

{% schema %}
  {
    "name": "Fullpage",
    "settings": [],
    "presets": [
      {
        "name": "Fullpage",
        "category": "Text"
      }
    ]
  }
{% endschema %}